<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="http://fonts.cdnfonts.com/css/american-typewriter" rel="stylesheet">

</head>

<body>
   <%- include('./partials/header')  %> 
    <main>
        <section class="main-register">            
            <form action="/product/editProduct/<%= productoEditar.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <input class="barrainfo" type="text" value="<%= productoEditar.NombreProducto %> " name="NombreProducto" id="NombreProducto" placeholder="Nombre Producto" required 
                    minlength="4">
                    
                <input class="barrainfo" type="number" name="Precio" value="<%= productoEditar.Precio %>" id="Precio" placeholder="Precio" required  minlength="2"
                    maxlength="15">                
                <select class="barrainfo" name="Categoria" id="categoria" required placeholder="Categoría" >
                    <option value="">Seleccionar</option>
                    <option value="CupCakes">CupCakes</option>
                    <option value="Pasteleria">Pasteleria</option>
                    <option value="Postres">Postres</option>
                </select>
                <input type="file"class="imagen" name="Imagen" required  id="Imagen" accept=".jpg,.png">
                <textarea name="Descripcion" class="barrainfo" required placeholder="Descripción"><%= productoEditar.Descripcion %></textarea>
                <div class="div-botones">
                    <button class="boton" type="submit">Guardar</button>
                </div>

            </form>
        </section>

    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>