<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="http://fonts.cdnfonts.com/css/american-typewriter" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetai.css">
</head>
<body>
  <%- include('./partials/header')  %> 
    <main>
        <div class="productosdetalleproducto">
            <h1><%= producto.Categoria %> </h1>
        </div>
        <div class="contenedordetalleproducto">
            <div>
                <img src="/images/<%= producto.Imagen%> " alt="Pastel_de_Cumpleaños">
            </div>
            <div class="cajadetalleproducto">
                <h2 class="nombreproducto"><%= producto.NombreProducto %>  </h2>
                <h3 class="precioproducto">$ <%= producto.Precio %> </h3>
                <p class="descripcionproducto"><%= producto.Descripcion %> </p>
                
                <a href="/product/editProduct/<%= producto.id %>" class="botonActualizar">ACTUALIZAR</a>                
                <form action="/product/delete/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit"  class="botoncomprar">ELIMINAR</button>
                </form>               
            </div>
        </div>
        
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>